

{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Capitan América</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Non atque suscipit, illo dolorem facere tempora porro perferendis nisi laboriosam consequatur natus beatae exercitationem nemo a pariatur asperiores fugiat quo? Minus.
        </p>
    </div>

    <div class="col-4">
        
    </div>

</div>


{{> footer }}